.button{
    padding: 16px 40px; 
}
.primary-button {
    background: none;
    border:none;
    font-size: 17px;
    
    color: #ffffff;
    background: #0175b3;
    text-transform: uppercase;
}
.submit-button {
    font-size: 23px;
    color: #686868;
}