.page-header .contact-info {
    height: 47px;
    background-color: #0175b3;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
    align-items: center;
}
.page-header .contact-info div span {
    color: #ffffff;
    margin-left: 8px;
    font-size: 16px;
}
.page-header .contact-info div span:first-of-type {
    font-size: 20px; 
    margin-right: 16px;
}
.page-header .navigation {
    display: flex;
    padding: 15px 15%;
    justify-content: space-between;
}
.page-header .navigation nav ul {
    list-style: none;
    display: flex;
    margin-top: 40px;
    align-items:baseline;
}
.page-header .navigation nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #686868;
    margin-right: 40px;
}
.page-header .navigation nav li form input {
    height: 40px;
    width: 210px;
    font-size: 12px;
    padding: 17px 100px 14px 17px;
}
.page-header .navigation nav li form button {
    position: relative;
    left: -40px;
    background: #ffffff;
    border: none;
    top:5px;
}
.page-header .navigation nav li a:hover {
    color:#0175b3;
    cursor:pointer;
    font-weight: bold;
}
.company {
    background: url("../assets/background-page1.png");
    padding: 550px 50% 180px 15%;
}
.company div h1 {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 20px;
    white-space: nowrap;
}
.company div p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #686868;
}
.financial-company > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 19%;
}
.financial-company div h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
}
.financial-company div p {
    font-size: 19px;
    text-align: center;
    color: #686868;
}
.consultation {
    background: url("../assets/handshake.png");
    padding-top: 300px;
    padding-bottom: 80px;
}
.consultation div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.consultation div p {
    font-size: 38px;
    color:#ffffff;
    margin-bottom: 16px;
}
.consultation div h2 {
    font-size: 72px;
    font-weight: 500;
    color:#ffffff;
    margin-bottom: 140px;
}
.team h2, .services h2, .about-us h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}
.team h2, .services h2 {
    margin-top: 50px;
}   
.team .cards {
    list-style: none;
    display: flex;
    padding: 50px 10% 100px 10%;
    background: #d8d8da;
    justify-content: space-between;
}
.team .cards li {
    background: #ffffff;
    width: 290px;
}
.team .cards li div h3 {
    font-size: 22px;
    font-weight: 500;
    text-align:center;
    text-transform: uppercase;
    margin-top: 25px;
}
.team .cards li div p {
    font-size: 16px;
    color:#686868;
    text-align: center;
    padding:20px 26px;
}
.services .service {
    list-style: none;
    margin: 0 10% 100px 10%;
    display: flex;
    justify-content: space-between;
}
.services .service li {
    border: 1px solid #686868;
    margin-right: 10px;
}
.services .service li div {
    text-align: center;
}
.services .service li div img {
    margin-top: 68px;
    margin-bottom: 28px;
}
.services .service li h3 {
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    text-align:center;
} 
.services .service li p {
    font-size: 16px;
    color:#686868;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 55px;
}
.reviews {
    background-image: url(../assets/reviews.png);
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews h2 {
    font-size: 48px;
    font-weight:500;
    color:#ffffff;
    margin-bottom: 90px;
}
.reviews p {
    font-size: 18px;
    color:#ffffff;
    text-align:center;
    margin: 0 23% 35px 25%;
}
.reviews div img {
    border-radius: 50%;
    margin-bottom: 40px;
}
.about-us {
    padding: 70px 0;
}
.about-us p {
    font-size: 18px;
    text-align:center;
    color:#686868;
    margin-left: 32%;
    margin-right: 30%;
}
.about-us p:last-child {
    padding: 20px 10px 0;
}
.callback {
    background-color: #1a4876;
    padding: 90px 10% 65px;
    display: flex;
}
.callback div:first-child {
    color:#ffffff;
    margin-right: 100px;
}
.callback div h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.callback div p {
    font-size: 18px;
}
.callback div input {
    height: 40px;
    width: 48%;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 18px;
}
.callback div input:nth-of-type(2n+1) {
    margin-right: 18px;
}
.callback div input:last-of-type {
    width: 100%;
    height: 80px;
    font-size: 24px;
}
.callback div button {
    font-size: 23px;
    color: #686868;
    padding:16px 37px;
    margin-top:55px;
}
.page-footer {
    background-color: #363a42;
    padding: 130px 10% 35px;
   
}
.page-footer .info {
    display: flex;
    color: #686868;
    font-size: 16px;
}
.page-footer .info > div:not(:last-child) {
    border-right: 2px solid #686868;
}
.page-footer .info div h3 {
    font-size: 24px;
    color:#ffffff;
    margin-bottom: 24px;
}
.page-footer .info > div:first-child {
    width: 28%;
}
.page-footer .info > div:nth-child(2) {
    width: 20%;
    padding-left:60px;
}
.page-footer .info > div:nth-child(3) {
    width: 25%;
    padding-left:65px;
}
.page-footer .info > div:last-child {
    width: 33%;
    padding-left:50px;
}
.page-footer .info > div:first-child > p {
    margin-right: 60px;
    margin-bottom: 30px;
}
.page-footer .info > div:first-child img {
    margin-right: 15px;
}
.page-footer .info > div:first-child div:first-of-type {
    display: flex;
}
.page-footer .info > div:first-child div:first-of-type img {
    align-self: flex-start;
}
.page-footer .info > div:first-child div {
    margin-bottom: 5px;
}
.page-footer .info ul {
    list-style: none;
    line-height: 30px;
}
.page-footer .info > div:last-child > p {
    margin-bottom: 30px;
}
.page-footer .info > div:last-child input:first-of-type {
    height: 50px;
    width: 240px;
    font-size: 14px;
    padding-left: 8px;
}
.page-footer .info > div:last-child input:last-of-type {
    width:80px;
    padding-left:20px;
}
.page-footer .info > div:last-child div img {
    margin-top: 60px;
}
.page-footer > p {
    font-size: 16px;
    color:#ffffff;
    text-align: center;
    margin-top: 180px;
}